body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body-child {
  display: block;
}
.sidebar {
  display: none;
}
.main-wrapper {
  width: 100%;
  padding: 20px;
  font-family: 'Heebo', sans-serif;
}
.main-wrapper > h1 {
  font-size: 26px;
  font-weight: bold;
}
/* .tabnav {
  padding: 20px;
} */
.nav-pills {
  background-color: #9475C11D;
  border-radius: 5px;
}
.nav-link {
  color: #969696;
  padding: 15px 20px;
  margin: 5px 0;
}
.nav-link:hover {
  color: #9475C1;
}
.nav-link.active {
  background-color: #9475C1 !important;
}
.team-performance {
  background: #FBFBFB;
  box-shadow: 0px 3px 3px #00000008;
  border: 1px solid #66666610;
  border-radius: 5px;
  padding: 20px 20px 100px 20px;
}

/* members tab */
.team-performance-member {
  width: 100%;
}
.team-performance-member > h1 {
  font-size: 20px;
  color: #0C131C;
  border-bottom: 1px solid #0C131C;
  padding: 0 10px 8px 10px;
}
.team-performance-member > span {
  display: block;
  font-size: 14px;
  color: #969696;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.team-performance-member-avatar {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 2px;
  margin-top: 5px;
  padding: 5px 10px;
}
.team-performance-member-avatar img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #6666662C;
}
/* .team-performance-member-avatar span {
  font-size: 14px;
} */
.team-performance-card {
  width: 100%;
}
.team-performance-card > h1 {
  font-size: 20px;
  color: #0C131C;
  padding: 16px 10px 8px 10px;
  border-bottom: 1px solid #0C131C;
}
.team-performance-card-header, .team-performance-card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.team-performance-card-header > span {
  font-size: 14px;
  color: #969696;
  display: block;
  padding-bottom: 6px;
}
.team-performance-card-header {
  padding: 0 10px;
}
.team-performance-card-body {
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 2px;
  align-items: center;
  padding: 0 20px;
  margin-top: 5px;
}
.team-performance-card-body > span {
  color: #0C131C;
  text-align: left;
}
/* utilities */
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
@media (min-width: 501px) {
  .body-child {
    display: flex;
  }
  .sidebar {
    display: block;
    width: 300px;
    height: 100vh;
  }
  .sidebar > img {
    width: 100%;
    height: 100%;
  }
  .team-performance-card > h1 {
    padding: 0 10px 8px 10px;
  }
  .team-performance-card-body {
    background: #FFFFFF;
    border-left: none;
  }
}

/* team members page */
.teammembers {
  padding: 20px 20px 100px 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 22px #58447517;
  border: 1px solid #00000019;
  border-radius: 5px;
}
.invitemembers-btn {
  background: #FFFFFF;
  border: 2px solid #9475C1;
  border-radius: 10px;
  font-size: 20px;
  color: #666666;
  padding: 10px 30px;
}
.teammembers-card {
  margin-top: 30px;
  position: relative;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  padding: 17px 0 22px 0;
  border: 1px solid #6666662C;
  border-radius: 5px;
}
.teammembers-card-btn {
  position: absolute;
  right: 2px;
  top: 2px;
}
.teammembers-card-content > img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #6666662C;
  margin: 0 auto;
}
.teammembers-card-content span {
  display: block;
  text-align: center;
}
.teammembers-card-content span:first-child {
  font-size: 18px;
  color: #0C131C;
}
.teammembers-card-content span:last-child {
  font-size: 16px;
  color: #666666;
}
.teammembers-card-content .team-lead {
  color: #9475C1 !important;
  font-weight: bold;
}

/* members modal */
/* .invite-modal-dialog {
  width: 750px;
} */
.invite-modal-dialog {
  display: flex;
  justify-content: center;
}
.invite-members-modal {
  position: relative;
  padding: 10px;
}
.dismiss-invite-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 100px;
  right: 30px;
  z-index: 10;
}
.invite-members > h1 {
  font-size: 26px;
  padding: 30px 0 0 0;
}
.invite-members > p {
  color: #969696;
}
.invite-members > form {
  padding-bottom: 20px;
}
.invite-members_label {
  font-size: 20px;
  display: block;
  color: #0C131C;
  padding-top: 40px;
  padding-bottom: 10px;
}
.invite-select-wrapper {
  display: block;
}
.invite-search-btn {
  margin-top: 10px;
  margin-left: 0;
}
.invite-search-btn > button {
  display: block;
  background-color: #584475;
  color: #fff;
  padding: 10px 35px;
}
.invite-member-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F3EFF8;
  border-radius: 5px;
  padding: 16px 20px;
  margin-top: 14px;
}
.invite-member-card > button {
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 5px;
}
.invite-member-card_details {
  display: block;
}
.invite-member-card_details > img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #6666662C;
}
.invite-member-card_title span {
  display: block;
}
.invite-member-card_title span:first-child {
  color: #0C131C;
  font-size: 16px;
  font-weight: 500;
}
.invite-member-card_title span:last-child {
  color: #666666;
  font-size: 14px;
}
@media (min-width: 501px) {
  .invite-select-wrapper {
    display: flex;
    align-items: center;
  }
  .invite-search-btn {
    margin-top: 0;
    margin-left: 5px;
  }
  .invite-members_select{
    width: 500px;
  }
  .invite-members-modal {
    width: 700px;
    padding: 20px;
  }
  .invite-member-card_title span:first-child {
    font-size: 18px;
  }
  .invite-member-card_title span:last-child {
    font-size: 16px;
  }
  .invite-member-card_details {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

/* projects */
.projects {
  background: #FBFBFB;
  box-shadow: 0px 3px 3px #00000008;
  border: 1px solid #66666610;
  border-radius: 5px;
  padding: 20px;
}
.project-card {
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 10px;
}
.project-card_header {
  padding: 20px;
  border-right: 1px solid #6666662C;
}
.project-card_header > h1 {
  font-size: 18px;
  color: #0C131C;
}
.project-card_header span > span {
  color: #969696;
  font-size: 14px;
}
.project-card_header > span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-card_numbers {
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #6666662C;
}
.project-card_numbers-item > span {
  display: block;
}
.project-card_numbers-item > span:first-child {
  color: #969696;
  font-weight: 500;
  font-size: 14px;
}
.project-card_numbers_count {
  font-weight: 500;
  padding-top: 10px;
}
.project-card_numbers_asignees {
  display: flex;
  padding-top: 10px;
}
.project-card_numbers_asignees img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 50%;
}
.project-card_numbers_asignees > img:nth-child(2) {
  position: relative;
  left: -5px;
} 
.project-card_numbers_asignees > img:nth-child(3) {
  position: relative;
  left: -10px;
}
.project-card_numbers_asignees > span {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 12px;
  left: -15px;
}
.project-card_details {
  padding: 20px 0;
}
.project-card_details > span {
  display: block;
  color: #969696;
  font-size: 14px;
  font-weight: 500;
}
.project-card_details-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.project-card_details-footer > .ongoing {
  display: block;
  font-size: 14px;
  background: #41A73812;
  padding: 8px 15px;
  border-radius: 10px;
  color: #41A738;
  font-weight: 500;
}
.project-card_details-footer > button {
  background: #9475C1;
  font-size: 14px;
  border: 1px solid #6666662C;
  border-radius: 10px;
  color: #FFFEFF;
  font-weight: 500;
}
.project-card_details-footer > button:hover {
  color: #ddd;
}