body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body-child {
  display: block;
}
.sidebar {
  display: none;
}
.main-wrapper {
  width: 100%;
  padding: 20px;
  font-family: 'Heebo', sans-serif;
}
.main-wrapper > h1 {
  font-size: 26px;
  font-weight: bold;
}
/* .tabnav {
  padding: 20px;
} */
.nav-pills {
  background-color: #9475C11D;
  border-radius: 5px;
}
.nav-link {
  color: #969696;
  padding: 15px 20px;
  margin: 5px 0;
}
.nav-link:hover {
  color: #9475C1;
}
.nav-link.active {
  background-color: #9475C1 !important;
}
.team-performance {
  background: #FBFBFB;
  box-shadow: 0px 3px 3px #00000008;
  border: 1px solid #66666610;
  border-radius: 5px;
  padding: 20px 20px 100px 20px;
}

/* members tab */
.team-performance-member {
  width: 100%;
}
.team-performance-member > h1 {
  font-size: 20px;
  color: #0C131C;
  border-bottom: 1px solid #0C131C;
  padding: 0 10px 8px 10px;
}
.team-performance-member > span {
  display: block;
  font-size: 14px;
  color: #969696;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.team-performance-member-avatar {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 2px;
  margin-top: 5px;
  padding: 5px 10px;
}
.team-performance-member-avatar img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #6666662C;
}
/* .team-performance-member-avatar span {
  font-size: 14px;
} */
.team-performance-card {
  width: 100%;
}
.team-performance-card > h1 {
  font-size: 20px;
  color: #0C131C;
  padding: 16px 10px 8px 10px;
  border-bottom: 1px solid #0C131C;
}
.team-performance-card-header, .team-performance-card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.team-performance-card-header > span {
  font-size: 14px;
  color: #969696;
  display: block;
  padding-bottom: 6px;
}
.team-performance-card-header {
  padding: 0 10px;
}
.team-performance-card-body {
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 2px;
  align-items: center;
  padding: 0 20px;
  margin-top: 5px;
}
.team-performance-card-body > span {
  color: #0C131C;
  text-align: left;
}
/* utilities */
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
@media (min-width: 501px) {
  .body-child {
    display: flex;
  }
  .sidebar {
    display: block;
    width: 300px;
    height: 100vh;
  }
  .sidebar > img {
    width: 100%;
    height: 100%;
  }
  .team-performance-card > h1 {
    padding: 0 10px 8px 10px;
  }
  .team-performance-card-body {
    background: #FFFFFF;
    border-left: none;
  }
}

/* team members page */
.teammembers {
  padding: 20px 20px 100px 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 22px #58447517;
  border: 1px solid #00000019;
  border-radius: 5px;
}
.invitemembers-btn {
  background: #FFFFFF;
  border: 2px solid #9475C1;
  border-radius: 10px;
  font-size: 20px;
  color: #666666;
  padding: 10px 30px;
}
.teammembers-card {
  margin-top: 30px;
  position: relative;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  padding: 17px 0 22px 0;
  border: 1px solid #6666662C;
  border-radius: 5px;
}
.teammembers-card-btn {
  position: absolute;
  right: 2px;
  top: 2px;
}
.teammembers-card-content > img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #6666662C;
  margin: 0 auto;
}
.teammembers-card-content span {
  display: block;
  text-align: center;
}
.teammembers-card-content span:first-child {
  font-size: 18px;
  color: #0C131C;
}
.teammembers-card-content span:last-child {
  font-size: 16px;
  color: #666666;
}
.teammembers-card-content .team-lead {
  color: #9475C1 !important;
  font-weight: bold;
}

/* members modal */
/* .invite-modal-dialog {
  width: 750px;
} */
.invite-modal-dialog {
  display: flex;
  justify-content: center;
}
.invite-members-modal {
  position: relative;
  padding: 10px;
}
.dismiss-invite-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 100px;
  right: 30px;
  z-index: 10;
}
.invite-members > h1 {
  font-size: 26px;
  padding: 30px 0 0 0;
}
.invite-members > p {
  color: #969696;
}
.invite-members > form {
  padding-bottom: 20px;
}
.invite-members_label {
  font-size: 20px;
  display: block;
  color: #0C131C;
  padding-top: 40px;
  padding-bottom: 10px;
}
.invite-select-wrapper {
  display: block;
}
.invite-search-btn {
  margin-top: 10px;
  margin-left: 0;
}
.invite-search-btn > button {
  display: block;
  background-color: #584475;
  color: #fff;
  padding: 10px 35px;
}
.invite-member-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F3EFF8;
  border-radius: 5px;
  padding: 16px 20px;
  margin-top: 14px;
}
.invite-member-card > button {
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 5px;
}
.invite-member-card_details {
  display: block;
}
.invite-member-card_details > img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #6666662C;
}
.invite-member-card_title span {
  display: block;
}
.invite-member-card_title span:first-child {
  color: #0C131C;
  font-size: 16px;
  font-weight: 500;
}
.invite-member-card_title span:last-child {
  color: #666666;
  font-size: 14px;
}
@media (min-width: 501px) {
  .invite-select-wrapper {
    display: flex;
    align-items: center;
  }
  .invite-search-btn {
    margin-top: 0;
    margin-left: 5px;
  }
  .invite-members_select{
    width: 500px;
  }
  .invite-members-modal {
    width: 700px;
    padding: 20px;
  }
  .invite-member-card_title span:first-child {
    font-size: 18px;
  }
  .invite-member-card_title span:last-child {
    font-size: 16px;
  }
  .invite-member-card_details {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

/* projects */
.projects {
  background: #FBFBFB;
  box-shadow: 0px 3px 3px #00000008;
  border: 1px solid #66666610;
  border-radius: 5px;
  padding: 20px 20px 100px 20px;
}
.project-card {
  background: #FFFFFF;
  border: 1px solid #6666662C;
  border-radius: 10px;
}
.project-card > .row {
  margin-left: 0;
  margin-right: 0;
}
.project-card > .row > div {
  padding-right: 0;
  padding-left: 0;
}
.project-card_header {
  padding: 20px;
  border-right: 1px solid #6666662C;
}
.project-card_header > h1 {
  font-size: 18px;
  color: #0C131C;
}
.project-card_header span > span {
  color: #969696;
  font-size: 14px;
}
.project-card_header > span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-card_numbers {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #6666662C;
}
.project-card_numbers-item > span {
  display: block;
}
.project-card_numbers-item > span:first-child {
  color: #969696;
  font-weight: 500;
  font-size: 14px;
}
.project-card_numbers_count {
  font-weight: 500;
  padding-top: 10px;
}
.project-card_numbers_asignees {
  display: flex;
  padding-top: 10px;
}
.project-card_numbers_asignees img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 50%;
}
.project-card_numbers_asignees > img:nth-child(2) {
  position: relative;
  left: -5px;
} 
.project-card_numbers_asignees > img:nth-child(3) {
  position: relative;
  left: -10px;
}
.project-card_numbers_asignees > span {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 12px;
  left: -15px;
}
.project-card_details {
  padding: 20px;
}
.project-card_details > span {
  display: block;
  color: #969696;
  font-size: 14px;
  font-weight: 500;
}
.project-card_details-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.project-card_details-footer > span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 10px;
}
.project-card_details-footer > .ongoing {
  background: #41A73812;
  color: #41A738;
}
.project-card_details-footer > .completed {
  background: #E1EEF5;
  color: #4E9CFF;
}
.project-card_details-footer > .not_started {
  background-color: #FFF7F4;
  color: #C75B33;
}
.project-card_details-footer > button {
  background: #9475C1;
  font-size: 14px;
  border: 1px solid #6666662C;
  border-radius: 10px;
  color: #FFFEFF;
  font-weight: 500;
}
.project-card_details-footer > button:hover {
  color: #ddd;
}

/* Approve or Deny section */
.approvedeny-header {
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;
}
.approvedeny-header > h1 {
  font-size: 24px;
}
.approvedeny {
  background: #FBFBFB;
  box-shadow: 0px 3px 3px #00000008;
  border: 1px solid #66666610;
  border-radius: 5px;
  /* padding: 0 20px 100px 20px; */
  margin-top: 26px;
}
.approvedeny > .table-responsive {
  width: 100%;
  display: block;
}
.approvedeny > .table th, .approvedeny > .table td {
  vertical-align: middle;
}
.approvedeny > .table {
  border-collapse: separate;
  border-spacing: 0 -10px;
}
.approvedeny-check-all > .form-check-input {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #00000019 !important;
  border-radius: 5px;
}
.approvedeny > .table th, .approvedeny > .table thead th {
  border-bottom: 0;
  border-top: 0;
  font-weight: normal;
  color: #969696;
  padding-bottom: 0;
}
.approvedeny-item {
  background: #FFFFFF;
  border-radius: 10px;
}
.approvedeny-item > td {
  border: 1px solid #6666662C;
  border-style: solid none;
}
.approvedeny-item > td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
.approvedeny-item > td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}
.approvedeny-item > td:nth-child(4) {
  border-left-style: solid;
}
.approvedeny-check-al > .form-check-label {
  padding-left: 10px;
}
.approvedeny-header_action > button {
  background: #0000000A;
  border: 1px solid #00000019;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #969696;
}
.ongoing-project {
  font-weight: 500;
  color: #CD7708;
}
.completed-project {
  font-weight: 500;
  color: #41A738;
}
.approvedeny-body_item-user .form-check > .form-check-input {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #00000019 !important;
  border-radius: 5px;
}
.approvedeny-body_item-user {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.approvedeny-body_item-user_details {
  display: flex;
  align-items: center;
  gap: 6px;
}
.approvedeny-body_item-user_details > img {
  width: 26px;
  height: 26px;
  background: #FFFFFF;
  border: 1px solid #00000019;
  border-radius: 50%;
}
.approvedeny-body_item-user_details > span {
  color: #0C131C;
}
.approvedeny-item_four > a {
  text-align: left;
  text-decoration: underline;
  color: #4E4F4F;
  padding-left: 10px;
}
.approvedeny-body_actions-btns {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 10px;
}
.approvedeny-body_actions-btns > button:first-child {
  color: #41A738;
  background-color: #F1F9F1;
  border: 1px solid #41A7383E;
  border-radius: 10px;
}
.approvedeny-body_actions-btns > button:last-child {
  background: #FFF7F4;
  border: 1px solid #F8CCCC;
  color: #C75B33;
  border-radius: 10px;
}
@media (min-width: 501px) {
  .approvedeny {
    width: 100%;
  }
  .approvedeny .table-responsive {
    display: inline-table;
  }
}

/* Request to join a team */
.requesttojoin-main-header {
  font-size: 26px;
  color: #0C131C;
  font-weight: bold;
  padding-bottom: 10px;
}
.requesttojoin {
  padding: 0 20px;
  background: #FBFBFB;
  box-shadow: 0px 3px 3px #00000008;
  border: 1px solid #66666610;
  border-radius: 5px;
}
.requesttojoin > .table th, .requesttojoin > .table td {
  vertical-align: middle;
}
.requesttojoin > .table {
  border-collapse: separate;
  border-spacing: 0 10px; 
}
.requesttojoin > .table th, .requesttojoin > .table thead th {
  border-bottom: 0;
  border-top: 0;
  font-weight: normal;
  color: #969696;
  padding-bottom: 0;
}
.requesttojoin-item {
  background: #FFFFFF;
  border-radius: 10px;
}
.requesttojoin-item > td {
  border: 1px solid #6666662C;
  border-style: solid none;
}
.requesttojoin-item > td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
.requesttojoin-item > td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}

.requesttojoin-item_teamname {
  display: flex;
  align-items: center;
}
.requesttojoin-item_details-user {
  display: flex;
  align-items: center;
  gap: 6px;
}
.requesttojoin-item_details-user > img {
  width: 41px;
  height: 41px;
  border: 1px solid #707070;
  border-radius: 50%;
  object-fit: cover;
}
.requesttojoin-action_btn > button {
  background: #9475C11C;
  border: 1px solid #9475C14E;
  border-radius: 10px;
  font-size: 14px;
  color: #9475C1;
}
.requesttojoin-action_btn > .sent-request {
  background: #00000008;
  border: 1px solid #6666662C;
  border-radius: 10px;
  color: #4E4F4F;
  font-size: 14px;
}

/* conversations */
.conversations {
  box-shadow: 5px 5px 22px #58447517;
  border: 1px solid #00000019;
  border-radius: 5px;
}
.conversationscard {
  display: flex;
  gap: 16px;
}
.conversationscard-avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.conversationscard-body_details a {
  color: #4E4F4F;
  font-weight: bold;
  text-decoration: none;
}
.conversationscard-body > P {
  color: #4E4F4F;
}
.conversationscard-body_span {
  display: block;
}
.conversationscard-body_span > span {
  color: #969696;
}
.conversationscard-body_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}